<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">GIFs</h1>
      <h2 class="subtitle">今日も推しが尊い</h2>
    </div>
  </div>
</section>

<p>推せ→ <%= link_to 'Upload GIF', new_gif_path, class: 'button is-primary' %></p>

<hr />

<p>アップロードされたGIFたち</p>

<div class="columns">
<% @gifs.each do |gif| %>
  <%= link_to gif, class: 'column' do %>
    <figure class="image">
      <%= image_tag '', class: 'gif lazyload', 'data-src': url_for(gif.image) %>
    </figure>
  <% end %>
<% end %>
</div>
