<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">GIFs</h1>
      <h2 class="subtitle">今日も推しが尊い</h2>
    </div>
  </div>
</section>

<p>推せ→ <%= link_to 'Upload GIF', new_gif_path, class: 'button is-primary' %></p>

<hr />

<p>アップロードされたGIFたち</p>

<%= render partial: 'gifs/gifgrid', locals: { gifs: @gifs } %>
