<div class="content">
  <h1><%= title 'プライバシーポリシー' %></h1>

  <h2>個人情報の利用目的</h2>
  <p>本サービスは、取得した個人情報をご本人の同意なく第三者に開示・提供致しません。ただし、以下の場合はこの限りではありません。</p>
  <ul>
    <li>人の生命、身体または財産の保護の為に開示の必要があり、ご本人の同意を得ることが困難な場合</li>
    <li>法令により個人情報の開示が求められた場合</li>
    <li>その他法令に定めのある場合</li>
  </ul>
  <p>第三者に個人情報を開示・提供する場合には、当該第三者と個人情報保護に関する取り決めを行い、個人情報保護に万全を期すよう努めます。</p>

  <h2>Cookieなどの取り扱いについて</h2>
  <p>
    本サービスでは、Google, Inc.のGoogle Analyticsを使用してサイトの計測を行っています。Cookieを使用して分析を行いますが、IPアドレス等のユーザ情報の一部がGoogle, Inc.に収集される可能性があります。本サービスは、利用状況の分析、レポートの作成、その他サービスの提供目的に限りこれを使用します。利用者は本サービスを利用することで、上記方法及び目的についてGoogle, Inc.が行うデータ処理の許可を与えたものとみなします。
  </p>
  <p>
    尚、Cookieはユーザ側のブラウザ操作により拒否することが可能です。ただしその際、本サービスの機能が一部機能しなくなる可能性があります。
  </p>
</div>
