<h1 class="title">プライバシーポリシー</h1>

<p>
  本サイトでは、Google, Inc.のGoogle Analyticsを使用してサイトの計測を行っています。Cookieを使用して分析を行いますが、IPアドレス等のユーザ情報の一部がGoogle, Inc.に収集される可能性があります。本サイトは、利用状況の分析、レポートの作成、その他サービスの提供目的に限りこれを使用します。利用者は本サイトを利用することで、上記方法及び目的についてGoogle, Inc.が行うデータ処理の許可を与えたものとみなします。
</p>
<p>
  尚、Cookieはユーザ側のブラウザ操作により拒否することが可能です。ただしその際、本サイトの機能が一部機能しなくなる可能性があります。
</p>
