<div class="content">
  <h1>利用規約</h1>

  <ol class="is-upper-roman">
    <li><h2>権利の帰属について</h2></li>
    <ol class="is-lower-roman">
      <li>本サービスに投稿された二次創作につきましては、ユーザは各団体の出す二次創作ガイドライン、またはそれに類するものに同意するものとします。</li>
      <li>違反するものにつきましては、本サービスはユーザへの告知無しに対象を削除でき、また更なる違反に対する防止策を施すことができるものとします。</li>
    </ol>
  </ol>
</div>
