<% @no_container = true %>

<section class="hero is-medium is-primary is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">vGIF</h1>
      <h2 class="subtitle">VTuberのGIFが集まる場所</h2>
    </div>
  </div>
</section>

<div class="container">
  <p>人気のGIFが表示される</p>
  <p>ログインしていれば、お気に入り登録しているVTuberの人気なGIFが表示される</p>
</div>
