<% @no_container = true %>

<section class="hero is-medium is-primary is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">vGIF</h1>
      <h2 class="subtitle"><%= default_meta_tags[:description] %></h2>
    </div>
  </div>
</section>

<div class="container padding-20">
  <p class="title is-3">推したい瞬間を共有しよう</p>
  <div class="content">
    <p>各種SNSなどで手軽に共有できるGIFファイルを共有できるサイトです。GIF共有サイトは色々ありますが、VTuberに特化したものはなかったので作りました。</p>
    <p>
      <b>なお、YouTubeなどに上がっている動画からGIFアニメを作るのは簡単です！</b>
      <a href="https://gifs.com">https://gifs.com</a> などのサービスを使いましょう。
      このサービスではgifs.comからファイルを取り込む機能を備えているので、超ラクです。
    </p>
  </div>

  <div class="tile is-ancestor">
    <div class="tile is-parent">
      <div class="tile is-child notification is-info">
        <p class="title is-5">GIFをアップロードして共有できる</p>
        <figure class="image">
          <%= image_tag 'how_to_upload.gif' %>
        </figure>
      </div>
    </div>
    <div class="tile is-parent">
      <div class="tile is-child notification is-warning">
        <p class="title is-5">簡単にコピペして利用できる</p>
        <figure class="image">
          <%= image_tag 'how_to_share.gif' %>
        </figure>
      </div>
    </div>
  </div>
</div>
