// *= require @yaireo/tagify/dist/tagify.css

.tile.is-parent {
  flex-wrap: wrap;
}

figure.image {
  padding: 3px;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding-top: 56.25%;
  position: relative;

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
  }
}
