html, body {
  height: 100%;
  margin: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.turbolinks-progress-bar {
  height: 5px;
  background-color: white;
}

.my-container {
  flex: 1;
  margin-right: auto;
  margin-left: auto;

  @media screen and (max-width: 575px) {
    width: 100%;
  }
  @media screen and (min-width: 576px) {
    width: 540px;
  }
  @media screen and (min-width: 768px) {
    width: 720px;
  }
  @media screen and (min-width: 992px) {
    width: 960px;
  }
  @media screen and (min-width: 1200px) {
    width: 1140px;
  }
}

div.top-gif {
  position: relative;
  background: no-repeat center / cover image-url('top.gif');
  z-index: 0;

  &::before {
    position: absolute;
    content: '';
    background: inherit;
    filter: blur(2px);
    z-index: -1;
    top: -5px;
    left: -5px;
    bottom: -5px;
    right: -5px;
  }
}
