html, body {
  height: 100%;
  margin: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.turbolinks-progress-bar {
  height: 5px;
  background-color: white;
}

.flex-1 {
  flex: 1;
}

.my-container {
  flex: 1;
  margin-right: auto;
  margin-left: auto;

  @media screen and (max-width: 575px) {
    width: 100%;
  }
  @media screen and (min-width: 576px) {
    width: 540px;
  }
  @media screen and (min-width: 768px) {
    width: 720px;
  }
  @media screen and (min-width: 992px) {
    width: 960px;
  }
  @media screen and (min-width: 1200px) {
    width: 1140px;
  }
}
